<nav class="nav flex-column">
  <%= link_to 'Profile', profile_path %>
  <%= link_to 'My Library', books_path %>
  <%= link_to 'Lists', book_lists_path %>
  <%= link_to 'Achievements', achievements_path %>
  <%= link_to 'Statistics', statistics_path %>
  <%= link_to 'Calendar', reading_calendars_path %>
  <%= link_to 'Goal', goal_path %>
  <%= link_to 'General Library', general_library_index_path %>
</nav>
