<nav class="nav flex-column">
  <%= button_to 'Profile', profile_path, method: :get, class: 'nav-button' %>
  <%= button_to 'My Library', books_path, method: :get, class: 'nav-button' %>
  <%= button_to 'Lists', book_lists_path, method: :get, class: 'nav-button' %>
  <%= button_to 'Achievements', achievements_path, method: :get, class: 'nav-button' %>
  <%= button_to 'Statistics', statistics_path, method: :get, class: 'nav-button' %>
  <%= button_to 'Calendar', reading_calendars_path, method: :get, class: 'nav-button' %>
  <%= button_to 'Goal', goal_path, method: :get, class: 'nav-button' %>
  <%= button_to 'General Library', general_library_index_path, method: :get, class: 'nav-button' %>
</nav>
