<div class="author-page">
  <h1><%= @author.name %></h1>
  <p><%= @author.bio %></p>

  <h2>Books by this author in My Library:</h2>
  <ul>
    <% @user_library_books.each do |book| %>
      <li>
        <%= image_tag book.cover_image.attached? ? url_for(book.cover_image) : 'default_cover.png', size: "100x150" %>
        <%= link_to book.title, book_path(book) %>
      </li>
    <% end %>
  </ul>

  <h2>Books by this author in General Library:</h2>
  <ul>
    <% @general_library_books.each do |book| %>
      <li>
        <%= image_tag book.cover_image.attached? ? url_for(book.cover_image) : 'default_cover.png', size: "100x150" %>
        <%= link_to book.title, general_library_path(book) %>
      </li>
    <% end %>
  </ul>
</div>
