<h1><%= @book.title %></h1>
<%= image_tag @book.cover_image.attached? ? url_for(@book.cover_image) : 'default_cover.png', size: "150x150" %>
<p><%= @book.description %></p>
<p>Author: <%= link_to @book.author.name, author_path(@book.author) %></p>
<p>Categories:
  <%= @book.categories.map { |category| link_to category.name, category_path(category) }.join(', ').html_safe %>
</p>

<%= form_with url: add_to_my_library_general_library_path(@book), method: :post do %>
  <%= submit_tag 'Add to My Library' %>
<% end %>
