<h1>Достижения</h1>

<% @achievements.each do |achievement| %>
  <div class="achievement">
    <h2><%= achievement.name %></h2>
    <p><%= achievement.description %></p>
    <p>Статус: <%= achievement.completed ? 'Выполнено' : 'Не выполнено' %></p>
    <% if achievement.completed %>
      <%= image_tag 'gold-medal.png', size: "100x100" %>
    <% else %>
      <%= image_tag 'secret.png', size: "100x100" %>
    <% end %>
    <%= progress_bar(achievement, current_user) %>
  </div>
<% end %>
