<div class="book-list">
  <div class="page-card">
    <div class="action-buttons">
      <% unless ['Хочу прочитать', 'Сейчас читаю', 'Прочитал'].include?(@book_list.name) %>
        <%= link_to edit_book_list_path(@book_list), class: 'edit-button' do %>
          <img src="<%= asset_path('edit.png') %>" alt="<%= t('book_list.edit_list') %>">
        <% end %>
        <%= button_to book_list_path(@book_list), method: :delete, data: { confirm: t('book_list.confirm_delete') }, class: 'delete-button' do %>
          <img src="<%= asset_path('delete_book.png') %>" alt="<%= t('book_list.delete_list') %>">
        <% end %>
      <% end %>
    </div>
    <h1><%= @book_list.name %></h1>

    <h2><%= t('book_list.books_in_list') %></h2>
    <div class="books-container">
      <% @book_list.books.each do |book| %>
        <div class="book-card">
          <div class="book-cover">
            <%= image_tag book.cover_image.attached? ? url_for(book.cover_image) : 'default_cover.png', size: "100x150" %>
          </div>
          <div class="book-info">
            <h3><%= link_to book.title, book_path(book) %></h3>
          </div>
          <% unless ['Хочу прочитать', 'Сейчас читаю', 'Прочитал'].include?(@book_list.name) %>
            <%= button_to remove_book_from_list_book_list_path(@book_list, book_id: book.id), method: :delete, data: { confirm: t('book_list.confirm_delete') }, class: 'remove-button' do %>
              <img src="<%= asset_path('minus.png') %>" alt="<%= t('book_list.remove_book') %>">
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
    .remove-button img {
        width: 16px;
        height: 16px;
    }
</style>