<h1><%= @book_list.name %></h1>

<h2>Books in this list:</h2>
<ul>
  <% @book_list.books.each do |book| %>
    <li>
      <%= image_tag book.cover_image.attached? ? url_for(book.cover_image) : 'default_cover.png', size: "50x50" %>
      <%= link_to book.title, book_path(book) %>
      <% unless ['Хочу прочитать', 'Сейчас читаю', 'Прочитал'].include?(@book_list.name) %>
        <%= button_to 'Remove', remove_book_from_list_book_list_path(@book_list, book_id: book.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Lists', book_lists_path %> |
<% unless ['Хочу прочитать', 'Сейчас читаю', 'Прочитал'].include?(@book_list.name) %>
  <%= link_to 'Edit', edit_book_list_path(@book_list) %> |
  <%= button_to 'Delete List', book_list_path(@book_list), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
